# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestormoda_db
DB_USER=postgres
DB_PASSWORD=sua_senha_secreta_aqui

# Integração com Inteligência Artificial
GEMINI_API_KEY=sua_chave_da_api_gemini_aqui
